.header {
    display: flex;
    align-items: center;
    min-height: 68px;
    border-bottom: 0.1px solid var(--border-dark);
    padding-left: 30px;
    padding-right: 30px;
}

.header__item--selected {
    position: relative;
}

.header__item--selected::before {
    content: '';
    position: absolute;
    right: 5px;
    /* Позиционирует элемент вертикально по центру */
    top: 50%;
    transform: translateY(-50%);
    /* Позиционирует элемент вертикально по центру */
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--link-dark-primary);
}

.header__logo {
    text-decoration: none;
    color: var(--link-dark);
    flex-shrink: 0;
    font-weight: 700;
    font-size: 24px;
}

.header__nav {
    flex-grow: 1;
}

.header__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}


.header__item {
    padding-left: 20px;
    padding-right: 20px;
}

.header__link {
    display: inline-block;
    text-decoration: none;
    color: var(--link-dark-secondary);
    padding: 23px 0;
}

.header__link:hover {
    color: var(--link-dark-primary);
}

.header__link--active {
    color: var(--link-dark);
    border-bottom: 3px solid var(--link-dark-primary);
}

.header__search {
    border: none;
    background: none;
    color: var(--link-dark-secondary);
}

.header__avatar {
    flex-shrink: 0;
}

.header__search:hover {
    color: var(--link-dark);
    cursor: pointer;
}
