:root {
    --border-dark: rgb(255 255 255 / 0.1);
    --backgraund-dark: #000;
    --wrapper-dark: #121212;

    --link-dark-secondary: rgb(255 255 255 / 0.5);
    --link-dark: rgb(255 255 255 / 0.8);
    --link-dark-primary: #fc0;

    --playlists-button-dark: rgb(255 255 255 / 0.64);

    --playlist-button-bg-dark: rgb(24 24 24 / 0.6);
    --playlist-button-hover: rgb(24 24 24 / 1);
    --playlist-icon-E: rgb(246 245 243 / 0.05);

    --title-primary: #fc0;

    --cell__explicit-bg: rgba(246,245,243,.05);
    --cell__explicit-text: #f6f5f3;
}